{% extends 'base.html.twig' %}

{% block body %}
    <h1>Familles list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Designation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for famille in familles %}
            <tr>
                <td><a href="{{ path('famille_show', { 'id': famille.id }) }}">{{ famille.id }}</a></td>
                <td>{{ famille.code }}</td>
                <td>{{ famille.designation }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('famille_show', { 'id': famille.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
